body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main_content styles */

.main_content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 105px 90px;
}

/* about styles  */

.about {

}

.about_position {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 20px;
}

.about_name {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}

.about_description {
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 400px;
    margin-bottom: 50px;
}

/* projects styles */

.projects {
    margin-bottom: 50px;

}

.project_list {
    padding: 0;
    margin-left: 15px;
}

.title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 10px;
}

.project_item {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.project,
.project_link {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.project_link {
    margin-left: 10px;
}
.project_bracket {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


.work {


    /* padding: 100px 40px 50px 20px ;

    padding: 50px;

    padding: 100px 50px ; */
}

.work_position {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.work_list {
    padding: 0;
    margin-left: 15px;
}

.organization {
    color: #FB6D3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* Education styles */

.education_place {
    color: #FB6D3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.education_direction {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.period {
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.work_list {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px
}

.work_list_point {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    
    width: 370px
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-tittle {
    color: #FFFFFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts,
.tech_skills,
.soft_skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.tech_skills, .soft_skills {
    margin-bottom: 50px;
}

.contact_type {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    margin-right: 5px;
}

.contact_link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    opacity: 0.5;
    color: #FFF;
}

.tech_skills_list, .soft_skills_list {
    color: #ffffff;
    padding: 0px;
    margin-left: 18px;
}

.tech_skills_item, .soft_skills_item {
    color: #FB6D3A;
}

.tech_skills_text, .soft_skills_text {
    color: #FFF;
    width: 121px;
    height: 203px;
    flex-shrink: 0;
}

