body {
    font-family: 'Montserrat', sans-serif;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
}

/* main_content styles */

.main_content {
    background-color: #FFFFFF;
}

/* about styles  */

.about {

}

/* projects styles */

.projects {


    /* margin: 100px 90px 300px 60px
    
    margin: 50px
    
    margin: 100px 50px*/
}

/* project_title */

.project_title {

}

/* work styles */

.work {


    /* padding: 100px 40px 50px 20px ;

    padding: 50px;

    padding: 100px 50px ; */
}

/* Education styles */

.Education {

}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}